In [1]:
%load_ext sql

In [2]:
%sql sqlite:///publications.db

'Connected: @publications.db'

In [3]:
%%sql

select tbl_name
from sqlite_master
where type = "table"

 * sqlite:///publications.db
Done.

[('authors',),
 ('discounts',),
 ('employee',),
 ('jobs',),
 ('pub_info',),
 ('publishers',),
 ('roysched',),
 ('sales',),
 ('stores',),
 ('titleauthor',),
 ('titles',)]

### Challenge 1 - Most Profiting Authors

An advance is the money that the publisher pays the author before the book comes out. The royalties the author will receive is typically a percentage of the entire book sales. The total profit an author receives by publishing a book is the sum of the advance and the royalties.
Given the information above, who are the 3 most profiting authors and how much royalties each of them have received? Write a query to find out.
If a title has multiple authors, how they split the royalties can be found in the royaltyper column of the titleauthor table.
We assume the coauthors will split the advance in the same way as the royalties.

#### Step 1: Calculate the royalties of each sales for each author

In [4]:
%%sql
select t.title_id as TITLE_ID, a.au_id as AUTHOR_ID,round((t.price * s.qty * t.royalty/100 * ta.royaltyper/100),2) as SALES_ROYALTY  
from authors a 
inner join titleauthor ta on a.au_id = ta.au_id
inner join titles t on ta.title_id = t.title_id
inner join sales s on t.title_id = s.title_id
order by AUTHOR_ID

 * sqlite:///publications.db
Done.

[('PS3333', '172-32-1176', 29.99),
 ('BU1032', '213-46-8915', 4.0),
 ('BU1032', '213-46-8915', 8.0),
 ('BU2075', '213-46-8915', 25.12),
 ('PC1035', '238-95-7766', 110.16),
 ('BU1111', '267-41-2394', 11.95),
 ('TC7777', '267-41-2394', 8.99),
 ('BU7832', '274-80-9391', 29.99),
 ('BU1032', '409-56-7008', 6.0),
 ('BU1032', '409-56-7008', 11.99),
 ('PC8888', '427-17-2319', 50.0),
 ('TC7777', '472-27-2349', 8.99),
 ('PS7777', '486-29-1786', 19.98),
 ('TC4203', '648-92-1872', 33.46),
 ('TC7777', '672-71-3249', 11.99),
 ('MC2222', '712-45-1867', 23.99),
 ('MC3021', '722-51-5454', 13.46),
 ('MC3021', '722-51-5454', 8.07),
 ('BU1111', '724-80-9391', 17.93),
 ('PS1372', '724-80-9391', 10.8),
 ('PS1372', '756-30-7391', 32.39),
 ('TC3218', '807-91-6654', 83.8),
 ('PC8888', '846-92-7186', 50.0),
 ('MC3021', '899-46-2035', 4.49),
 ('MC3021', '899-46-2035', 2.69),
 ('PS2091', '899-46-2035', 1.97),
 ('PS2091', '899-46-2035', 49.28),
 ('PS2091', '899-46-2035', 6.57),
 ('PS2091', '899-46-2035', 13.14),
 ('PS2091', '998-72-3567', 1.97),
 ('PS2091', '998-72-3567', 49.28),
 ('PS2091', '998-72-3567', 6.57),
 ('PS2091', '998-72-3567', 13.14),
 ('PS2106', '998-72-3567', 17.0)]

### Aggregate the total royalties for each title for each author

Using the output from Step 1, write a query to obtain the following output:

Title ID
Author ID
Aggregated royalties of each title for each author
Hint: use the SUM subquery and group by both au_id and title_id
In the output of this step, each title should appear only once for each author.

In [5]:
%%sql
select t.title_id as TITLE_ID, a.au_id as AUTHOR_ID, round(sum(t.price * s.qty * t.royalty/100 * ta.royaltyper/100),2) as Aggregated_royalties  
from authors a 
inner join titleauthor ta on a.au_id = ta.au_id
inner join titles t on ta.title_id = t.title_id
inner join sales s on t.title_id = s.title_id
group by a.au_id, t.title_id

 * sqlite:///publications.db
Done.

[('PS3333', '172-32-1176', 29.99),
 ('BU1032', '213-46-8915', 11.99),
 ('BU2075', '213-46-8915', 25.12),
 ('PC1035', '238-95-7766', 110.16),
 ('BU1111', '267-41-2394', 11.95),
 ('TC7777', '267-41-2394', 8.99),
 ('BU7832', '274-80-9391', 29.99),
 ('BU1032', '409-56-7008', 17.99),
 ('PC8888', '427-17-2319', 50.0),
 ('TC7777', '472-27-2349', 8.99),
 ('PS7777', '486-29-1786', 19.98),
 ('TC4203', '648-92-1872', 33.46),
 ('TC7777', '672-71-3249', 11.99),
 ('MC2222', '712-45-1867', 23.99),
 ('MC3021', '722-51-5454', 21.53),
 ('BU1111', '724-80-9391', 17.93),
 ('PS1372', '724-80-9391', 10.8),
 ('PS1372', '756-30-7391', 32.39),
 ('TC3218', '807-91-6654', 83.8),
 ('PC8888', '846-92-7186', 50.0),
 ('MC3021', '899-46-2035', 7.18),
 ('PS2091', '899-46-2035', 70.96),
 ('PS2091', '998-72-3567', 70.96),
 ('PS2106', '998-72-3567', 17.0)]

### Step 3: Calculate the total profits of each author

In [12]:
%%sql
with tabla as (select t.title_id as TITLE_ID, a.au_id as AUTHOR_ID, t.advance + round(sum(t.price * s.qty * t.royalty/100 * ta.royaltyper/100),2) as profits  
from authors a 
inner join titleauthor ta on a.au_id = ta.au_id
inner join titles t on ta.title_id = t.title_id
inner join sales s on t.title_id = s.title_id
group by a.au_id, t.title_id
order by author_id)
select AUTHOR_ID, round(sum(profits),2) as PROFITS
from tabla
group by AUTHOR_ID
order by PROFITS desc
limit 3

 * sqlite:///publications.db
Done.

[('899-46-2035', 17353.14),
 ('213-46-8915', 15162.11),
 ('722-51-5454', 15021.53)]

### Challenge 2

In [9]:
%%sql
create table most_profiting_authors as
with tabla as (select t.title_id as TITLE_ID, a.au_id as AUTHOR_ID, t.advance + round(sum(t.price * s.qty * t.royalty/100 * ta.royaltyper/100),2) as profits  
from authors a 
inner join titleauthor ta on a.au_id = ta.au_id
inner join titles t on ta.title_id = t.title_id
inner join sales s on t.title_id = s.title_id
group by a.au_id, t.title_id
order by author_id)
select AUTHOR_ID, round(sum(profits),2) as PROFITS
from tabla
group by AUTHOR_ID
order by PROFITS desc
limit 3

 * sqlite:///publications.db
Done.

[]

In [10]:
%%sql
select*
from most_profiting_authors

 * sqlite:///publications.db
Done.

[('899-46-2035', 17353.14),
 ('213-46-8915', 15162.11),
 ('722-51-5454', 15021.53)]