In [2]:
%load_ext sql

In [3]:
%sql sqlite:///C:\\Users\\victo\\Desktop\\IronHack\\20-lab-sql-select\\publications.db

## Challenge 1 - Most Profiting Authors

**Initial solution from previous lab**

In [4]:
%%sql
SELECT
    a.au_id as AUTHOR_ID,
    a.au_fname as LAST_NAME,
    a.au_lname as FIRST_NAME,
    ifnull((t.advance*ta.royaltyper) + (t.royalty * ta.royaltyper * t.ytd_sales),0) as PROFIT
FROM
    authors as a
INNER JOIN
    titleauthor as ta
ON 
    a.au_id=ta.au_id
INNER JOIN
    titles as t
ON
    t.title_id = ta.title_id
GROUP BY
    a.au_id,
    a.au_lname,
    a.au_fname,
    PROFIT
ORDER BY
    PROFIT DESC
LIMIT 3

 * sqlite:///C:\\Users\\victo\\Desktop\\IronHack\\20-lab-sql-select\\publications.db
Done.

[('213-46-8915', 'Marjorie', 'Green', 45945300),
 ('722-51-5454', 'Michel', 'DeFrance', 41167800),
 ('648-92-1872', 'Reginald', 'Blotchet-Halls', 21534400)]

### Step 1: Calculate the royalties of each sales for each author

In [5]:
%%sql
SELECT
    t.title_id as TITLE_ID,
    ta.au_id as AUTHOR_ID,
    a.au_fname as LAST_NAME,
    a.au_lname as FIRST_NAME,
    round((t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100),2) as ROYALTIES
FROM
    titleauthor as ta
INNER JOIN
    authors as a
ON 
    a.au_id=ta.au_id
INNER JOIN
    sales as s
ON 
    s.title_id = ta.title_id
INNER JOIN
    titles as t
ON
    t.title_id = ta.title_id

 * sqlite:///C:\\Users\\victo\\Desktop\\IronHack\\20-lab-sql-select\\publications.db
Done.

[('PS3333', '172-32-1176', 'Johnson', 'White', 29.99),
 ('BU1032', '213-46-8915', 'Marjorie', 'Green', 4.0),
 ('BU1032', '213-46-8915', 'Marjorie', 'Green', 8.0),
 ('BU2075', '213-46-8915', 'Marjorie', 'Green', 25.12),
 ('PC1035', '238-95-7766', 'Cheryl', 'Carson', 110.16),
 ('BU1111', '267-41-2394', 'Michael', "O'Leary", 11.95),
 ('TC7777', '267-41-2394', 'Michael', "O'Leary", 8.99),
 ('BU7832', '274-80-9391', 'Dean', 'Straight', 29.99),
 ('BU1032', '409-56-7008', 'Abraham', 'Bennet', 6.0),
 ('BU1032', '409-56-7008', 'Abraham', 'Bennet', 11.99),
 ('PC8888', '427-17-2319', 'Ann', 'Dull', 50.0),
 ('TC7777', '472-27-2349', 'Burt', 'Gringlesby', 8.99),
 ('PS7777', '486-29-1786', 'Charlene', 'Locksley', 19.98),
 ('TC4203', '648-92-1872', 'Reginald', 'Blotchet-Halls', 33.46),
 ('TC7777', '672-71-3249', 'Akiko', 'Yokomoto', 11.99),
 ('MC2222', '712-45-1867', 'Innes', 'del Castillo', 23.99),
 ('MC3021', '722-51-5454', 'Michel', 'DeFrance', 13.46),
 ('MC3021', '722-51-5454', 'Michel', 'DeFrance', 8.07),
 ('BU1111', '724-80-9391', 'Stearns', 'MacFeather', 17.93),
 ('PS1372', '724-80-9391', 'Stearns', 'MacFeather', 10.8),
 ('PS1372', '756-30-7391', 'Livia', 'Karsen', 32.39),
 ('TC3218', '807-91-6654', 'Sylvia', 'Panteley', 83.8),
 ('PC8888', '846-92-7186', 'Sheryl', 'Hunter', 50.0),
 ('MC3021', '899-46-2035', 'Anne', 'Ringer', 4.49),
 ('MC3021', '899-46-2035', 'Anne', 'Ringer', 2.69),
 ('PS2091', '899-46-2035', 'Anne', 'Ringer', 1.97),
 ('PS2091', '899-46-2035', 'Anne', 'Ringer', 49.28),
 ('PS2091', '899-46-2035', 'Anne', 'Ringer', 6.57),
 ('PS2091', '899-46-2035', 'Anne', 'Ringer', 13.14),
 ('PS2091', '998-72-3567', 'Albert', 'Ringer', 1.97),
 ('PS2091', '998-72-3567', 'Albert', 'Ringer', 49.28),
 ('PS2091', '998-72-3567', 'Albert', 'Ringer', 6.57),
 ('PS2091', '998-72-3567', 'Albert', 'Ringer', 13.14),
 ('PS2106', '998-72-3567', 'Albert', 'Ringer', 17.0)]

### Step 2: Aggregate the total royalties for each title for each author

In [6]:
%%sql
SELECT
    t.title_id as TITLE_ID,
    ta.au_id as AUTHOR_ID,
    a.au_fname as LAST_NAME,
    a.au_lname as FIRST_NAME,
    round(sum(t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100),2) as AGGREGATED_ROYALTIES
FROM
    titleauthor as ta
INNER JOIN
    authors as a
ON 
    a.au_id=ta.au_id
INNER JOIN
    sales as s
ON 
    s.title_id = ta.title_id
INNER JOIN
    titles as t
ON
    t.title_id = ta.title_id
GROUP BY
    t.title_id,
    ta.au_id

 * sqlite:///C:\\Users\\victo\\Desktop\\IronHack\\20-lab-sql-select\\publications.db
Done.

[('BU1032', '213-46-8915', 'Marjorie', 'Green', 11.99),
 ('BU1032', '409-56-7008', 'Abraham', 'Bennet', 17.99),
 ('BU1111', '267-41-2394', 'Michael', "O'Leary", 11.95),
 ('BU1111', '724-80-9391', 'Stearns', 'MacFeather', 17.93),
 ('BU2075', '213-46-8915', 'Marjorie', 'Green', 25.12),
 ('BU7832', '274-80-9391', 'Dean', 'Straight', 29.99),
 ('MC2222', '712-45-1867', 'Innes', 'del Castillo', 23.99),
 ('MC3021', '722-51-5454', 'Michel', 'DeFrance', 21.53),
 ('MC3021', '899-46-2035', 'Anne', 'Ringer', 7.18),
 ('PC1035', '238-95-7766', 'Cheryl', 'Carson', 110.16),
 ('PC8888', '427-17-2319', 'Ann', 'Dull', 50.0),
 ('PC8888', '846-92-7186', 'Sheryl', 'Hunter', 50.0),
 ('PS1372', '724-80-9391', 'Stearns', 'MacFeather', 10.8),
 ('PS1372', '756-30-7391', 'Livia', 'Karsen', 32.39),
 ('PS2091', '899-46-2035', 'Anne', 'Ringer', 70.96),
 ('PS2091', '998-72-3567', 'Albert', 'Ringer', 70.96),
 ('PS2106', '998-72-3567', 'Albert', 'Ringer', 17.0),
 ('PS3333', '172-32-1176', 'Johnson', 'White', 29.99),
 ('PS7777', '486-29-1786', 'Charlene', 'Locksley', 19.98),
 ('TC3218', '807-91-6654', 'Sylvia', 'Panteley', 83.8),
 ('TC4203', '648-92-1872', 'Reginald', 'Blotchet-Halls', 33.46),
 ('TC7777', '267-41-2394', 'Michael', "O'Leary", 8.99),
 ('TC7777', '472-27-2349', 'Burt', 'Gringlesby', 8.99),
 ('TC7777', '672-71-3249', 'Akiko', 'Yokomoto', 11.99)]

### Step 3: Calculate the total profits of each author

In [7]:
%%sql
WITH
    AUTHOR
AS
(
    SELECT
        t.title_id as TITLE_ID,
        ta.au_id as AUTHOR_ID,
        a.au_fname as LAST_NAME,
        a.au_lname as FIRST_NAME,
        round((t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100),2) as ROYALTIES,
        round((t.advance * ta.royaltyper / 100),2) as ADVANCE
    FROM
        titleauthor as ta
    INNER JOIN
        authors as a
    ON 
        a.au_id=ta.au_id
    INNER JOIN
        sales as s
    ON 
        s.title_id = ta.title_id
    INNER JOIN
        titles as t
    ON
        t.title_id = ta.title_id
)
SELECT
    AUTHOR_ID,
    AUTHOR.TITLE_ID,
    AUTHOR.LAST_NAME,
    AUTHOR.FIRST_NAME,
    SUM(AUTHOR.ADVANCE + AUTHOR.ROYALTIES) AS PROFIT
FROM
    AUTHOR
GROUP BY
    AUTHOR_ID,
    AUTHOR.TITLE_ID
ORDER BY
    SUM(AUTHOR.ADVANCE + AUTHOR.ROYALTIES) desc
LIMIT 3

 * sqlite:///C:\\Users\\victo\\Desktop\\IronHack\\20-lab-sql-select\\publications.db
Done.

[('722-51-5454', 'MC3021', 'Michel', 'DeFrance', 22521.53),
 ('213-46-8915', 'BU2075', 'Marjorie', 'Green', 10150.12),
 ('899-46-2035', 'MC3021', 'Anne', 'Ringer', 7507.18)]

## Challenge 2

In [9]:
%%sql
CREATE TABLE
    most_profiting_authors
AS
WITH
    AUTHOR
AS
(
    SELECT
        t.title_id as TITLE_ID,
        ta.au_id as AUTHOR_ID,
        a.au_fname as LAST_NAME,
        a.au_lname as FIRST_NAME,
        (t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100) as ROYALTIES,
        t.advance * ta.royaltyper / 100 as ADVANCE
    FROM
        titleauthor as ta
    INNER JOIN
        authors as a
    ON 
        a.au_id=ta.au_id
    INNER JOIN
        sales as s
    ON 
        s.title_id = ta.title_id
    INNER JOIN
        titles as t
    ON
        t.title_id = ta.title_id
)
SELECT
    AUTHOR_ID,
    AUTHOR.TITLE_ID,
    AUTHOR.LAST_NAME,
    AUTHOR.FIRST_NAME,
    SUM(AUTHOR.ADVANCE + AUTHOR.ROYALTIES) AS PROFIT
FROM
    AUTHOR
GROUP BY
    AUTHOR_ID,
    AUTHOR.TITLE_ID
ORDER BY
    SUM(AUTHOR.ADVANCE + AUTHOR.ROYALTIES) desc
limit 3

 * sqlite:///C:\\Users\\victo\\Desktop\\IronHack\\20-lab-sql-select\\publications.db
Done.

[]

In [11]:
%%sql
SELECT * FROM most_profiting_authors
LIMIT 5

 * sqlite:///C:\\Users\\victo\\Desktop\\IronHack\\20-lab-sql-select\\publications.db
Done.

[('722-51-5454', 'MC3021', 'Michel', 'DeFrance', 22521.528),
 ('213-46-8915', 'BU2075', 'Marjorie', 'Green', 10150.116),
 ('899-46-2035', 'MC3021', 'Anne', 'Ringer', 7507.1759999999995)]