In [1]:
%load_ext sql

In [2]:
%sql sqlite:///publications.db

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Invalid SQLite URL: sqlite://Users/miquicampuzano/Documents/Miqui/1.\Formación/Ironhack/2.\LABS/Week\8/lab-sql-select/publications.db
Valid SQLite URL forms are:
 sqlite:///:memory: (or, sqlite://)
 sqlite:///relative/path/to/file.db
 sqlite:////absolute/path/to/file.db
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [6]:
%%sql

--Challenge 1 advanced sql  

-- Aquí hay que tener en cuenta la información de la tabla de ventas ya que royalty es un porcentaje sobre las ventas

-- Un titulo puede aparecer varias veces ya que se puede haber vendido en diferentes tiendas. 

select *, sales_royalties + advance as total_income from (select a.au_id as author_id, a.au_fname as FirstName, a.au_lname as LastName, tit.title_id, tit.title, tit.advance, sum(round(tit.price * s.qty * tit.royalty / 100 * titauth.royaltyper / 100, 2)) as sales_royalties
from authors as a 
left join titleauthor as titauth on a.au_id = titauth.au_id
left join titles as tit on titauth.title_id = tit.title_id
left join sales as s on tit.title_id = s.title_id

group by a.au_id, tit.title_id)
order by total_income desc
limit 3

 * sqlite:///publications.db
(sqlite3.OperationalError) no such table: authors
[SQL: select auth.au_id, auth.au_lname, auth.au_fname, tit.title, pub.pub_name
from authors as auth inner join titleauthor as ta on auth.au_id = ta.au_id
                     inner join titles as tit on ta.title_id = tit.title_id
                     inner join publishers as pub on tit.pub_id = pub.pub_id]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [3]:
%%sql

-- Challenge 2 lab Adanced SQL

create table most_profiting_authors as select *, sales_royalties + advance as total_income from (select a.au_id as author_id, a.au_fname as FirstName, a.au_lname as LastName, tit.title_id, tit.title, tit.advance, sum(round(tit.price * s.qty * tit.royalty / 100 * titauth.royaltyper / 100, 2)) as sales_royalties
from authors as a 
left join titleauthor as titauth on a.au_id = titauth.au_id
left join titles as tit on titauth.title_id = tit.title_id
left join sales as s on tit.title_id = s.title_id

group by a.au_id, tit.title_id)
order by total_income desc
limit 3

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])