# 21-Lab advanced SQL

## Load extension

In [1]:
%load_ext sql

## Connect to the data base

In [2]:
%sql sqlite:///../../20-lab-sql-select/publications.db

## Challenge 1: Most Profiting Authors

### Step 1: Calculate the royalties of each sales for each author

In [16]:
%%sql
select  t.title as TITLE,
        a.au_id as 'AUTHOR ID',
        t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100 as ROYALTY
from titles t left join titleauthor ta on t.title_id = ta.title_id
              left join authors a on ta.au_id = a.au_id
              left join sales s on t.title_id = s.title_id

 * sqlite:///../../20-lab-sql-select/publications.db
Done.

[("The Busy Executive's Database Guide", '213-46-8915', 3.9979999999999993),
 ("The Busy Executive's Database Guide", '213-46-8915', 7.995999999999999),
 ("The Busy Executive's Database Guide", '409-56-7008', 5.996999999999999),
 ("The Busy Executive's Database Guide", '409-56-7008', 11.993999999999998),
 ('Cooking with Computers: Surreptitious Balance Sheets', '267-41-2394', 11.95),
 ('Cooking with Computers: Surreptitious Balance Sheets', '724-80-9391', 17.925),
 ('You Can Combat Computer Stress!', '213-46-8915', 25.116000000000003),
 ('Straight Talk About Computers', '274-80-9391', 29.984999999999996),
 ('Silicon Valley Gastronomic Treats', '712-45-1867', 23.987999999999996),
 ('The Gourmet Microwave', '722-51-5454', 13.455),
 ('The Gourmet Microwave', '722-51-5454', 8.073),
 ('The Gourmet Microwave', '899-46-2035', 4.485),
 ('The Gourmet Microwave', '899-46-2035', 2.6910000000000003),
 ('The Psychology of Computer Cooking', None, None),
 ('But Is It User Friendly?', '238-95-7766', 110.16),
 ('Secrets of Silicon Valley', '427-17-2319', 50),
 ('Secrets of Silicon Valley', '846-92-7186', 50),
 ('Net Etiquette', '486-29-1786', None),
 ('Computer Phobic AND Non-Phobic Individuals: Behavior Variations', '724-80-9391', 10.795),
 ('Computer Phobic AND Non-Phobic Individuals: Behavior Variations', '756-30-7391', 32.385),
 ('Is Anger the Enemy?', '899-46-2035', 1.9709999999999996),
 ('Is Anger the Enemy?', '899-46-2035', 49.275),
 ('Is Anger the Enemy?', '899-46-2035', 6.57),
 ('Is Anger the Enemy?', '899-46-2035', 13.14),
 ('Is Anger the Enemy?', '998-72-3567', 1.9709999999999996),
 ('Is Anger the Enemy?', '998-72-3567', 49.275),
 ('Is Anger the Enemy?', '998-72-3567', 6.57),
 ('Is Anger the Enemy?', '998-72-3567', 13.14),
 ('Life Without Fear', '998-72-3567', 17),
 ('Prolonged Data Deprivation: Four Case Studies', '172-32-1176', 29.984999999999996),
 ('Emotional Security: A New Algorithm', '486-29-1786', 19.975),
 ('Onions, Leeks, and Garlic: Cooking Secrets of the Mediterranean', '807-91-6654', 83.8),
 ('Fifty Years in Buckingham Palace Kitchens', '648-92-1872', 33.46),
 ('Sushi, Anyone?', '267-41-2394', 8.994),
 ('Sushi, Anyone?', '472-27-2349', 8.994),
 ('Sushi, Anyone?', '672-71-3249', 11.992)]

### Step 2: Aggregate the total royalties for each title for each author

In [24]:
%%sql
select  TITLE,
        AUTHOR_ID,
        sum(x.ROYALTY) as ROYALTIES
from (
    select  t.title as TITLE,
            a.au_id as AUTHOR_ID,
            t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100 as ROYALTY
    from titles t left join titleauthor ta on t.title_id = ta.title_id
                  left join authors a on ta.au_id = a.au_id
                  left join sales s on t.title_id = s.title_id
    ) x
group by TITLE, AUTHOR_ID

 * sqlite:///../../20-lab-sql-select/publications.db
Done.

[('But Is It User Friendly?', '238-95-7766', 110.16),
 ('Computer Phobic AND Non-Phobic Individuals: Behavior Variations', '724-80-9391', 10.795),
 ('Computer Phobic AND Non-Phobic Individuals: Behavior Variations', '756-30-7391', 32.385),
 ('Cooking with Computers: Surreptitious Balance Sheets', '267-41-2394', 11.95),
 ('Cooking with Computers: Surreptitious Balance Sheets', '724-80-9391', 17.925),
 ('Emotional Security: A New Algorithm', '486-29-1786', 19.975),
 ('Fifty Years in Buckingham Palace Kitchens', '648-92-1872', 33.46),
 ('Is Anger the Enemy?', '899-46-2035', 70.95599999999999),
 ('Is Anger the Enemy?', '998-72-3567', 70.95599999999999),
 ('Life Without Fear', '998-72-3567', 17),
 ('Net Etiquette', '486-29-1786', None),
 ('Onions, Leeks, and Garlic: Cooking Secrets of the Mediterranean', '807-91-6654', 83.8),
 ('Prolonged Data Deprivation: Four Case Studies', '172-32-1176', 29.984999999999996),
 ('Secrets of Silicon Valley', '427-17-2319', 50),
 ('Secrets of Silicon Valley', '846-92-7186', 50),
 ('Silicon Valley Gastronomic Treats', '712-45-1867', 23.987999999999996),
 ('Straight Talk About Computers', '274-80-9391', 29.984999999999996),
 ('Sushi, Anyone?', '267-41-2394', 8.994),
 ('Sushi, Anyone?', '472-27-2349', 8.994),
 ('Sushi, Anyone?', '672-71-3249', 11.992),
 ("The Busy Executive's Database Guide", '213-46-8915', 11.993999999999998),
 ("The Busy Executive's Database Guide", '409-56-7008', 17.990999999999996),
 ('The Gourmet Microwave', '722-51-5454', 21.528),
 ('The Gourmet Microwave', '899-46-2035', 7.176),
 ('The Psychology of Computer Cooking', None, None),
 ('You Can Combat Computer Stress!', '213-46-8915', 25.116000000000003)]

### Step 3: Calculate the total profits of each author

In [28]:
%%sql
select  AUTHOR_ID,
        sum(y.ROYALTIES) as TOTAL_ROYALTIES

from(
    select  TITLE,
            AUTHOR_ID,
            sum(x.ROYALTY) as ROYALTIES
    from (
        select  t.title as TITLE,
                a.au_id as AUTHOR_ID,
                t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100 as ROYALTY
        from titles t left join titleauthor ta on t.title_id = ta.title_id
                      left join authors a on ta.au_id = a.au_id
                      left join sales s on t.title_id = s.title_id
        ) x
    group by TITLE, AUTHOR_ID
    )y
group by AUTHOR_ID
order by TOTAL_ROYALTIES desc
limit 3

 * sqlite:///../../20-lab-sql-select/publications.db
Done.

[('238-95-7766', 110.16),
 ('998-72-3567', 87.95599999999999),
 ('807-91-6654', 83.8)]

## Challenge 2

Elevating from your solution in Challenge 1 , create a table named the most_profiting_authors to hold the data about the most profiting authors.

In [38]:
%%sql
CREATE TABLE most_profiting_authors AS
SELECT AUTHOR_ID as au_id, TOTAL_ROYALTIES as profits
FROM(
    select  AUTHOR_ID,
            sum(y.ROYALTIES) as TOTAL_ROYALTIES

    from(
        select  TITLE,
                AUTHOR_ID,
                sum(x.ROYALTY) as ROYALTIES
        from (
            select  t.title as TITLE,
                    a.au_id as AUTHOR_ID,
                    t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100 as ROYALTY
            from titles t left join titleauthor ta on t.title_id = ta.title_id
                          left join authors a on ta.au_id = a.au_id
                          left join sales s on t.title_id = s.title_id
            ) x
        group by TITLE, AUTHOR_ID
        )y
    group by AUTHOR_ID
    order by TOTAL_ROYALTIES desc)

 * sqlite:///../../20-lab-sql-select/publications.db
Done.

[]

In [39]:
%%sql
select *
from most_profiting_authors

 * sqlite:///../../20-lab-sql-select/publications.db
Done.

[('238-95-7766', 110.16),
 ('998-72-3567', 87.95599999999999),
 ('807-91-6654', 83.8),
 ('899-46-2035', 78.13199999999999),
 ('846-92-7186', 50),
 ('427-17-2319', 50),
 ('213-46-8915', 37.11),
 ('648-92-1872', 33.46),
 ('756-30-7391', 32.385),
 ('274-80-9391', 29.984999999999996),
 ('172-32-1176', 29.984999999999996),
 ('724-80-9391', 28.72),
 ('712-45-1867', 23.987999999999996),
 ('722-51-5454', 21.528),
 ('267-41-2394', 20.944),
 ('486-29-1786', 19.975),
 ('409-56-7008', 17.990999999999996),
 ('672-71-3249', 11.992),
 ('472-27-2349', 8.994),
 (None, None)]