In [5]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
%sql sqlite:////Users/blancurri/Desktop/Formació/IronHack/Docs_varios/publications.db

### Previously on Lab 20 - Bonus challenge:

Who are the top 3 most profiting authors?

Important to keep in mind:

- In table `sales`, a title can appear several times. The royalties need to be calculated for each sale.

- Despite a title can have multiple `sales` records, the advance must be calculated only once for each title.

- In your eventual solution, you need to sum up the following profits for each individual author:
    * All advances which is calculated exactly once for each title.
    * All royalties in each sale.
    
So you will not be able to achieve the goal with a single SELECT query:

1. Calculate the royalty of each sale for each author.

2. Using the output from Step 1 as a sub-table, aggregate the total royalties for each title for each author.

3. Using the output from Step 2 as a sub-table, calculate the total profits of each author by aggregating the advances and total royalties of each title.

Please include the SELECT queries of each step so that your TA can review your problem-solving process.

#Me he hecho traducción al castellano para tenerlo más claro...

- En la tabla ventas, un título puede aparecer muchas veces. Los royalties se tienen que calcular por cada venta
- Aunque un título puede tener muchas ventas, el adelanto se tiene que calcular sólo una vez por título
- En la solución, suma los siguientes beneficios para cada autor:
    - Los adelantos que se calculan exactamente una vez por cada título
    - Todos los royalties por cada venta
    
- Calcula el royalty por cada venta de cada autor
- Usando el output del Step 1 como una subtabla, agrega el total de los royalties por cada autor y título
- Usando el output del Step 2 como una subtabla, calcula los beneficios totales de cada autor agregando los adelantos y el total de royalties para cada título

### Challenge 1 - Most Profiting Authors

Step 1: Calculate the royalties of each sales for each author

Paso 1: Calcula los royalties de cada venta por cada autor

Write a SELECT query to obtain the following output:

* Title ID
* Author ID
* Royalty of each sale for each author
    * The formula is:
        ```
        sales_royalty = titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100
        ```
    * Note that `titles.royalty` and `titleauthor.royaltyper` are divided by 100 respectively because they are percentage numbers instead of floats.

In the output of this step, each title may appear more than once for each author. This is because a title can have more than one sales.

In [7]:
%%sql
select title, titles.title_id as TITLE_ID, au_id as AUTHOR_ID, 
round(titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100, 2) as SALES_ROYALTY
from titleauthor join titles on titleauthor.title_id = titles.title_id
                join sales on titles.title_id = sales.title_id

 * sqlite:////Users/blancurri/Desktop/Formació/IronHack/Docs_varios/publications.db
Done.

[('Prolonged Data Deprivation: Four Case Studies', 'PS3333', '172-32-1176', 29.99),
 ("The Busy Executive's Database Guide", 'BU1032', '213-46-8915', 4.0),
 ("The Busy Executive's Database Guide", 'BU1032', '213-46-8915', 8.0),
 ('You Can Combat Computer Stress!', 'BU2075', '213-46-8915', 25.12),
 ('But Is It User Friendly?', 'PC1035', '238-95-7766', 110.16),
 ('Cooking with Computers: Surreptitious Balance Sheets', 'BU1111', '267-41-2394', 11.95),
 ('Sushi, Anyone?', 'TC7777', '267-41-2394', 8.99),
 ('Straight Talk About Computers', 'BU7832', '274-80-9391', 29.99),
 ("The Busy Executive's Database Guide", 'BU1032', '409-56-7008', 6.0),
 ("The Busy Executive's Database Guide", 'BU1032', '409-56-7008', 11.99),
 ('Secrets of Silicon Valley', 'PC8888', '427-17-2319', 50.0),
 ('Sushi, Anyone?', 'TC7777', '472-27-2349', 8.99),
 ('Emotional Security: A New Algorithm', 'PS7777', '486-29-1786', 19.98),
 ('Fifty Years in Buckingham Palace Kitchens', 'TC4203', '648-92-1872', 33.46),
 ('Sushi, Anyone?', 'TC7777', '672-71-3249', 11.99),
 ('Silicon Valley Gastronomic Treats', 'MC2222', '712-45-1867', 23.99),
 ('The Gourmet Microwave', 'MC3021', '722-51-5454', 13.46),
 ('The Gourmet Microwave', 'MC3021', '722-51-5454', 8.07),
 ('Cooking with Computers: Surreptitious Balance Sheets', 'BU1111', '724-80-9391', 17.93),
 ('Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'PS1372', '724-80-9391', 10.8),
 ('Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'PS1372', '756-30-7391', 32.39),
 ('Onions, Leeks, and Garlic: Cooking Secrets of the Mediterranean', 'TC3218', '807-91-6654', 83.8),
 ('Secrets of Silicon Valley', 'PC8888', '846-92-7186', 50.0),
 ('The Gourmet Microwave', 'MC3021', '899-46-2035', 4.49),
 ('The Gourmet Microwave', 'MC3021', '899-46-2035', 2.69),
 ('Is Anger the Enemy?', 'PS2091', '899-46-2035', 1.97),
 ('Is Anger the Enemy?', 'PS2091', '899-46-2035', 49.28),
 ('Is Anger the Enemy?', 'PS2091', '899-46-2035', 6.57),
 ('Is Anger the Enemy?', 'PS2091', '899-46-2035', 13.14),
 ('Is Anger the Enemy?', 'PS2091', '998-72-3567', 1.97),
 ('Is Anger the Enemy?', 'PS2091', '998-72-3567', 49.28),
 ('Is Anger the Enemy?', 'PS2091', '998-72-3567', 6.57),
 ('Is Anger the Enemy?', 'PS2091', '998-72-3567', 13.14),
 ('Life Without Fear', 'PS2106', '998-72-3567', 17.0)]

Step 2: Aggregate the total royalties for each title for each author

Using the output from Step 1, write a query to obtain the following output:

* Title ID
* Author ID
* Aggregated royalties of each title for each author
    * Hint: use the *SUM* subquery and group by both `au_id` and `title_id`

In the output of this step, each title should appear only once for each author.

In [8]:
%%sql
select title, titles.title_id as TITLE_ID, au_id as AUTHOR_ID, 
round(sum(round(titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100, 2)),2) as SALES_ROYALTY
from titleauthor join titles on titleauthor.title_id = titles.title_id
                join sales on titles.title_id = sales.title_id
group by titles.title_id, au_id

 * sqlite:////Users/blancurri/Desktop/Formació/IronHack/Docs_varios/publications.db
Done.

[("The Busy Executive's Database Guide", 'BU1032', '213-46-8915', 12.0),
 ("The Busy Executive's Database Guide", 'BU1032', '409-56-7008', 17.99),
 ('Cooking with Computers: Surreptitious Balance Sheets', 'BU1111', '267-41-2394', 11.95),
 ('Cooking with Computers: Surreptitious Balance Sheets', 'BU1111', '724-80-9391', 17.93),
 ('You Can Combat Computer Stress!', 'BU2075', '213-46-8915', 25.12),
 ('Straight Talk About Computers', 'BU7832', '274-80-9391', 29.99),
 ('Silicon Valley Gastronomic Treats', 'MC2222', '712-45-1867', 23.99),
 ('The Gourmet Microwave', 'MC3021', '722-51-5454', 21.53),
 ('The Gourmet Microwave', 'MC3021', '899-46-2035', 7.18),
 ('But Is It User Friendly?', 'PC1035', '238-95-7766', 110.16),
 ('Secrets of Silicon Valley', 'PC8888', '427-17-2319', 50.0),
 ('Secrets of Silicon Valley', 'PC8888', '846-92-7186', 50.0),
 ('Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'PS1372', '724-80-9391', 10.8),
 ('Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'PS1372', '756-30-7391', 32.39),
 ('Is Anger the Enemy?', 'PS2091', '899-46-2035', 70.96),
 ('Is Anger the Enemy?', 'PS2091', '998-72-3567', 70.96),
 ('Life Without Fear', 'PS2106', '998-72-3567', 17.0),
 ('Prolonged Data Deprivation: Four Case Studies', 'PS3333', '172-32-1176', 29.99),
 ('Emotional Security: A New Algorithm', 'PS7777', '486-29-1786', 19.98),
 ('Onions, Leeks, and Garlic: Cooking Secrets of the Mediterranean', 'TC3218', '807-91-6654', 83.8),
 ('Fifty Years in Buckingham Palace Kitchens', 'TC4203', '648-92-1872', 33.46),
 ('Sushi, Anyone?', 'TC7777', '267-41-2394', 8.99),
 ('Sushi, Anyone?', 'TC7777', '472-27-2349', 8.99),
 ('Sushi, Anyone?', 'TC7777', '672-71-3249', 11.99)]

Step 3: Calculate the total profits of each author

Now that each title has exactly one row for each author where the advance and royalties are available, we are ready to obtain the eventual output. Using the output from Step 2, write a query to obtain the following output:

* Author ID
* Profits of each author by aggregating the advance and total royalties of each title

Sort the output based on a total profits from high to low, and limit the number of rows to 3.

In [ ]:
#Manera 1 de resolverlo: haciendo directamente el group by sólo por autor. Hemos quitado el groupby de titles.

In [15]:
%%sql
select au_id as AUTHOR_ID, round(sum(round(titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100, 2)),2) as SALES_ROYALTY
from titleauthor join titles on titleauthor.title_id = titles.title_id
                join sales on titles.title_id = sales.title_id
group by au_id

 * sqlite:////Users/blancurri/Desktop/Formació/IronHack/Docs_varios/publications.db
Done.

[('172-32-1176', 29.99),
 ('213-46-8915', 37.12),
 ('238-95-7766', 110.16),
 ('267-41-2394', 20.94),
 ('274-80-9391', 29.99),
 ('409-56-7008', 17.99),
 ('427-17-2319', 50.0),
 ('472-27-2349', 8.99),
 ('486-29-1786', 19.98),
 ('648-92-1872', 33.46),
 ('672-71-3249', 11.99),
 ('712-45-1867', 23.99),
 ('722-51-5454', 21.53),
 ('724-80-9391', 28.73),
 ('756-30-7391', 32.39),
 ('807-91-6654', 83.8),
 ('846-92-7186', 50.0),
 ('899-46-2035', 78.14),
 ('998-72-3567', 87.96)]

In [ ]:
#Manera de resolverlo 2: metiendo el código de antes como una subquery agrupar por autor y libro y después agrupando sólo por autor

In [19]:
%%sql
SELECT AUTHOR_ID, round(sum(SALES_ROYALTY)) as TOTAL_AUTHOR

FROM (select title, titles.title_id as TITLE_ID, au_id as AUTHOR_ID, 
round(sum(round(titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100, 2)),2) 
      as SALES_ROYALTY
from titleauthor join titles on titleauthor.title_id = titles.title_id
                join sales on titles.title_id = sales.title_id
group by titles.title_id, au_id) as c1

group by AUTHOR_ID

 * sqlite:////Users/blancurri/Desktop/Formació/IronHack/Docs_varios/publications.db
Done.

[('172-32-1176', 30.0),
 ('213-46-8915', 37.0),
 ('238-95-7766', 110.0),
 ('267-41-2394', 21.0),
 ('274-80-9391', 30.0),
 ('409-56-7008', 18.0),
 ('427-17-2319', 50.0),
 ('472-27-2349', 9.0),
 ('486-29-1786', 20.0),
 ('648-92-1872', 33.0),
 ('672-71-3249', 12.0),
 ('712-45-1867', 24.0),
 ('722-51-5454', 22.0),
 ('724-80-9391', 29.0),
 ('756-30-7391', 32.0),
 ('807-91-6654', 84.0),
 ('846-92-7186', 50.0),
 ('899-46-2035', 78.0),
 ('998-72-3567', 88.0)]

### Challenge 2

Elevating from your solution in Challenge 1 , create a table named `most_profiting_authors` to hold the data about the most profiting authors. The table should have 2 columns:

* `au_id` - Author ID
* `profits` - The profits of the author aggregating the advances and royalties

In [24]:
%%sql
DROP TABLE most_profiting_authors

 * sqlite:////Users/blancurri/Desktop/Formació/IronHack/Docs_varios/publications.db
Done.

[]

In [25]:
%%sql
CREATE TABLE most_profiting_authors AS
select au_id, round(sum(round(titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100, 2)),2) as profits
from titleauthor join titles on titleauthor.title_id = titles.title_id
                join sales on titles.title_id = sales.title_id
group by au_id

 * sqlite:////Users/blancurri/Desktop/Formació/IronHack/Docs_varios/publications.db
Done.

[]

In [26]:
%%sql
select *
from most_profiting_authors

 * sqlite:////Users/blancurri/Desktop/Formació/IronHack/Docs_varios/publications.db
Done.

[('172-32-1176', 29.99),
 ('213-46-8915', 37.12),
 ('238-95-7766', 110.16),
 ('267-41-2394', 20.94),
 ('274-80-9391', 29.99),
 ('409-56-7008', 17.99),
 ('427-17-2319', 50.0),
 ('472-27-2349', 8.99),
 ('486-29-1786', 19.98),
 ('648-92-1872', 33.46),
 ('672-71-3249', 11.99),
 ('712-45-1867', 23.99),
 ('722-51-5454', 21.53),
 ('724-80-9391', 28.73),
 ('756-30-7391', 32.39),
 ('807-91-6654', 83.8),
 ('846-92-7186', 50.0),
 ('899-46-2035', 78.14),
 ('998-72-3567', 87.96)]